.site-header {
	padding: 2rem 0;

	.site-logo {
		a {
			display: block;
			max-width: 120px;
		}
	}

	.hamburger {
		.buns {
			.patty,
			.patty:before,
			.patty:after {
				background: $blue;
			}
		}
	}

	.site-nav {
		.top-level-link {
			text-transform: uppercase;
			font-size: 0.8125rem;
			letter-spacing: 0.05em;
			font-weight: bold;
			
			@include desktop-small {
				font-size: 0.75rem;
				padding-bottom: 0.25rem;
				border-bottom: 2px solid transparent;
			}

			@include desktop-medium {
				font-size: 0.8125rem;
			}

			&:hover {
				border-bottom: 2px solid $gold;
				text-decoration: none;
			}
		}

		.dropdown {
			.top-level-link {
				&:hover {
					text-decoration: none;
					border-bottom: 2px solid $gold;
				}

				&:after {
					background-image: url(images/icon-dropdown-arrow.svg);
				}
			}
		}

		.sub-nav {
			border-radius: 3px;
			box-shadow: 0 0 8px rgba(10, 34, 69, 0.1);

			.sub-link {
				a {
					font-size: 0.875rem;
					font-weight: bold;
				}
			}
		}
	}
}

@include desktop-small {
	body.home .nav-item.home > a,
	body.page-template-project-information .nav-item.project-information > a,
	body.parent-pageid-9 .nav-item.project-information > a,
	body.page-template-noise-visualization .nav-item.noise-visualization > a,
	body.page-template-comments .nav-item.comments > a,
	body.page-template-virtual-workshop .nav-item.virtual-workshop > a {
		border-bottom: 2px solid $gold;
	}


	
}

