body {
	background: $white;
}

.site {
	border-color: $blue;
	background: $white;
}

.page-header {
	padding: 3rem 0 3rem 0;

	h1 {
		font-size: 2.5rem;
		color: $dark-blue;
	}

	h2 {
		font-weight: bold;
		color: $blue;
		font-size: 0.875rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $light-blue;

	}
}

.copy {
	& + .cta {
		padding-top: 2rem;
	}
}

.sub-grid {
	display: grid;
	gap: 0 2rem;
	grid-template-columns: repeat(4, 1fr);

	@include tablet-small {
		grid-template-columns: repeat(8, 1fr);
	}

	@include desktop-small {
		grid-template-columns: repeat(12, 1fr);
	}

	& > * {
		grid-column: 1 / -1;
	}
}