.cta {
    grid-column: 2 / span 4;
    padding: 3rem 0;

    @include tablet-small {
        grid-column: 4 / span 4;
    }

    @include desktop-small {
        grid-column: 11 / span 3;
        padding: 0;
    }

    .circle {
        background: $blue;
        color: $white;
        padding: 2rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        a {
            color: $white;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;

            span {
                width: 100%;
                display: flex;
                justify-content: center;

                &.icon {
                    margin-top: auto;
                    padding-bottom: 0.5rem;

                    img {
                        max-width: 80px;
                    }
                }

                &.label {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-bottom: auto;
                    padding-top: 0.5rem;

                    @include desktop-small {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}
