@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,900;1,400;1,700;1,900&display=swap");
.cta .btn {
  padding: 0;
  border: none;
  font-weight: bold;
}
.cta .btn:after {
  content: " >>";
}
.cta .btn:hover {
  text-decoration: underline;
}

.table .p2 > * + * {
  padding-top: 0;
}
.table .row {
  padding: 2rem 0;
  border-bottom: 1px solid #aaa;
}
@media screen and (min-width: 768px) {
  .table .row {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
  }
  .table .row div:first-child:nth-last-child(1),
.table .row div:first-child:nth-last-child(1) ~ div {
    width: 100%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(2),
.table .row div:first-child:nth-last-child(2) ~ div {
    width: 50%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(3),
.table .row div:first-child:nth-last-child(3) ~ div {
    width: 33.3333333333%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(4),
.table .row div:first-child:nth-last-child(4) ~ div {
    width: 25%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(5),
.table .row div:first-child:nth-last-child(5) ~ div {
    width: 20%;
    flex: 1;
    padding-right: 2rem;
  }
  .table .row div:first-child:nth-last-child(6),
.table .row div:first-child:nth-last-child(6) ~ div {
    width: 16.6666666667%;
    flex: 1;
    padding-right: 2rem;
  }
}
.table .header-row {
  background: #0A2245;
  color: #fff;
  font-weight: bold;
  border-bottom: 0;
  padding: 1rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .table .header-row {
    display: flex;
  }
}

.ba-slider .handle:after {
  background: #EBF1FC;
  box-shadow: none;
  border: none;
  content: "↔";
  line-height: 60px;
}
.ba-slider.draggable:after {
  line-height: 46px;
}
.ba-slider .caption {
  background: rgba(255, 255, 255, 0.7);
  color: #0076C0;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.25em;
  text-align: left;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  .ba-slider .caption {
    font-size: 1rem;
  }
}

.download-report a {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.download-report a .details {
  font-size: 0.75rem;
  color: #6A6A6A;
  padding-left: 3px;
}

.video a {
  display: block;
  position: relative;
}
.video a:after {
  display: block;
  content: "";
  background: url(images/video-play-btn.svg) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  z-index: 10;
  width: 96px;
  height: 96px;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
@media screen and (min-width: 992px) {
  .video a:after {
    width: 124px;
    height: 124px;
    top: calc(50% - 62px);
    left: calc(50% - 62px);
  }
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Raleway", sans-serif;
}

a {
  color: #0076C0;
}

.site-content .hero .headline h1, .site-content .hero .headline h2, .site-content .hero .headline h3, .site-content .hero .headline h4, .site-content .hero .headline h5, .site-content .hero .headline h6 {
  color: #fff;
}
.site-content a:hover {
  text-decoration: underline;
}

.headline {
  padding-bottom: 1rem;
}
.headline h1 {
  font-size: 1.75rem;
  line-height: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .headline h1 {
    font-size: 2.25rem;
  }
}
.headline h2 {
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .headline h2 {
    font-size: 1.75rem;
  }
}
.headline h3 {
  font-size: 1.25rem;
  line-height: 1.25em;
}
@media screen and (min-width: 992px) {
  .headline h3 {
    font-size: 1.5rem;
  }
}

.p1 {
  font-size: 1rem;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .p1 {
    font-size: 1.125rem;
  }
}

.p2 {
  font-size: 0.875rem;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .p2 {
    font-size: 1rem;
  }
}

.p3 {
  font-size: 0.8125rem;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .p3 {
    font-size: 0.875rem;
  }
}

body {
  background: #fff;
}

.site {
  border-color: #0076C0;
  background: #fff;
}

.page-header {
  padding: 3rem 0 3rem 0;
}
.page-header h1 {
  font-size: 2.5rem;
  color: #0A2245;
}
.page-header h2 {
  font-weight: bold;
  color: #0076C0;
  font-size: 0.875rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #EBF1FC;
}

.copy + .cta {
  padding-top: 2rem;
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
.sub-grid > * {
  grid-column: 1/-1;
}

.site-header {
  padding: 2rem 0;
}
.site-header .site-logo a {
  display: block;
  max-width: 120px;
}
.site-header .hamburger .buns .patty,
.site-header .hamburger .buns .patty:before,
.site-header .hamburger .buns .patty:after {
  background: #0076C0;
}
.site-header .site-nav .top-level-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.8125rem;
  }
}
.site-header .site-nav .top-level-link:hover {
  border-bottom: 2px solid #b39034;
  text-decoration: none;
}
.site-header .site-nav .dropdown .top-level-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #b39034;
}
.site-header .site-nav .dropdown .top-level-link:after {
  background-image: url(images/icon-dropdown-arrow.svg);
}
.site-header .site-nav .sub-nav {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(10, 34, 69, 0.1);
}
.site-header .site-nav .sub-nav .sub-link a {
  font-size: 0.875rem;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  body.home .nav-item.home > a,
body.page-template-project-information .nav-item.project-information > a,
body.parent-pageid-9 .nav-item.project-information > a,
body.page-template-noise-visualization .nav-item.noise-visualization > a,
body.page-template-comments .nav-item.comments > a,
body.page-template-virtual-workshop .nav-item.virtual-workshop > a {
    border-bottom: 2px solid #b39034;
  }
}
.site-footer {
  background: #0A2245;
}
.site-footer .logo a {
  display: block;
  max-width: 120px;
}
.site-footer .download-report a {
  background: #b39034;
  color: #fff;
  max-width: 400px;
}
.site-footer .download-report a .cta {
  color: #fff;
  padding-bottom: 0;
  line-height: 1.25em;
}
.site-footer .download-report a .details {
  padding-top: 0.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.675rem;
}
.site-footer .download-report a + a {
  margin-top: 1rem;
}
.site-footer .footer-nav h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.site-footer .footer-nav .links {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.site-footer .footer-nav .links .link a {
  font-size: 0.875rem;
  line-height: 1.5em;
}
.site-footer .copyright {
  margin-top: 6rem;
  padding-top: 1rem;
}
.site-footer .credits {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .site-footer .credits {
    justify-content: flex-end;
  }
}

.language-switcher {
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
}
.language-switcher a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem 0.375rem 0.75rem;
  border: 1px solid #0076C0;
  border-radius: 3px;
}
.language-switcher a + a {
  margin-left: 1rem;
}
.language-switcher a:hover {
  text-decoration: none;
  background: #EBF1FC;
}
.language-switcher a.active {
  background: #EBF1FC;
}
.language-switcher a span {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

body.page-template-homepage-boston section.status-update {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston section.status-update {
    padding-bottom: 4rem;
  }
}
body.page-template-homepage-boston section.status-update .update-wrapper {
  border: 4px solid #b39034;
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston section.status-update .update-wrapper {
    grid-column: 3/span 10;
  }
}
body.page-template-homepage-boston section.status-update .update-wrapper .entry + .entry {
  margin-top: 2rem;
  border-top: 2px solid #b39034;
  padding-top: 2rem;
}
body.page-template-homepage-boston section.status-update .update-wrapper .headline h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #0076C0;
}
body.page-template-homepage-boston .intro {
  background: #0A2245;
  color: #fff;
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .intro {
    padding: 4rem 0;
  }
}
body.page-template-homepage-boston .intro * {
  color: #fff;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .intro .headline {
    grid-column: 2/span 10;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .intro .video {
    grid-row: 2;
    grid-column: 2/span 9;
  }
}
body.page-template-homepage-boston .intro .video img {
  border: 2px solid #fff;
}
body.page-template-homepage-boston .intro .info {
  padding-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .intro .info {
    padding-bottom: 0;
    grid-row: 2;
    grid-column: 11/span 3;
  }
}
body.page-template-homepage-boston .full-report {
  padding: 3rem 0;
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .full-report {
    padding: 6rem 0;
  }
}
body.page-template-homepage-boston .full-report .download-report {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage-boston .full-report .download-report {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .full-report .download-report {
    grid-column: 2/span 12;
  }
}
body.page-template-homepage-boston .full-report .download-report a {
  background: #b39034;
  color: #fff;
  width: 100%;
  max-width: 420px;
}
body.page-template-homepage-boston .full-report .download-report a + a {
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .full-report .download-report a + a {
    margin-top: 0;
    margin-left: 2rem;
  }
}
body.page-template-homepage-boston .full-report .download-report a .cta {
  color: #fff;
  padding-bottom: 0;
  line-height: 1.25em;
}
body.page-template-homepage-boston .full-report .download-report a .details {
  padding-top: 0.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.675rem;
}
body.page-template-homepage-boston .features {
  padding: 3rem 0;
  background: #EBF1FC;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .features {
    padding: 6rem 0;
  }
  body.page-template-homepage-boston .features-flex {
    display: flex;
    justify-content: space-between;
  }
}
body.page-template-homepage-boston .features .feature {
  background: #0076C0;
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .features .feature {
    padding: 4rem;
  }
}
body.page-template-homepage-boston .features .feature + .feature {
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .features .feature + .feature {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage-boston .features .feature {
    width: calc(33.3333% - 1rem);
  }
}
body.page-template-homepage-boston .features .feature * {
  color: #fff;
}
body.page-template-homepage-boston .features .feature .icon {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
body.page-template-homepage-boston .features .feature .icon img {
  max-width: 120px;
  max-height: 80px;
}
body.page-template-homepage-boston .features .feature .headline {
  text-align: center;
  padding-bottom: 1rem;
}
body.page-template-homepage-boston .features .feature .headline h3 {
  font-weight: bold;
}
body.page-template-homepage-boston .features .feature .cta {
  padding-top: 2rem;
}

body.page-template-project-information .anchor-links {
  padding-bottom: 3rem;
}
body.page-template-project-information .anchor-links .links {
  padding: 1.5rem;
  background: #EBF1FC;
}
@media screen and (min-width: 768px) {
  body.page-template-project-information .anchor-links .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }
}
body.page-template-project-information .anchor-links .links a {
  display: block;
}
@media screen and (min-width: 768px) {
  body.page-template-project-information .anchor-links .links a {
    margin-bottom: 1rem;
  }
}
body.page-template-project-information .anchor-links .links a + a {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-project-information .anchor-links .links a + a {
    margin-top: 0;
    margin-left: 2rem;
  }
}
body.page-template-project-information .project-background {
  padding-bottom: 4rem;
}
body.page-template-project-information .project-background .copy {
  padding-top: 2rem;
}
body.page-template-project-information .project-background .video {
  aspect-ratio: 16/9;
}
body.page-template-project-information .project-background .video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-project-information .project-background .video a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .project-background .video,
body.page-template-project-information .project-background .tab {
    grid-column: 2/span 8;
  }
}
body.page-template-project-information .project-background .tab {
  display: none;
}
body.page-template-project-information .project-background .tab.active {
  display: block;
}
body.page-template-project-information .documents {
  background: #EBF1FC;
  padding: 4rem 0;
  margin-bottom: 4rem;
}
body.page-template-project-information .documents.final-documents {
  background: #eaeaea;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .documents {
    margin-bottom: 6rem;
  }
}
body.page-template-project-information .documents .copy {
  padding: 0 0 2rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .documents .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-project-information .documents .links .document + .document {
  padding-top: 0.5rem;
}
body.page-template-project-information .documents .links .spacer {
  height: 2rem;
  width: 100%;
}
body.page-template-project-information .documents .links a {
  font-weight: bold;
}
body.page-template-project-information .documents .doc {
  display: flex;
  align-items: center;
}
body.page-template-project-information .documents .doc:before {
  content: "";
  display: block;
  background: url(images/icon-download-blue.svg) no-repeat 0 0;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}
body.page-template-project-information .feature + .feature .sub-grid {
  padding-top: 2rem;
  border-top: 1px solid #aaa;
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .feature + .feature .sub-grid {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}
body.page-template-project-information .feature .info {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-project-information .feature .info {
    padding-top: 0;
    grid-row: 1;
    grid-column: 1/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .feature .info {
    grid-column: 1/span 5;
  }
}
body.page-template-project-information .feature .photo {
  aspect-ratio: 4/3;
}
body.page-template-project-information .feature .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-project-information .feature .photo {
    grid-column: 5/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .feature .photo {
    grid-column: 7/span 6;
  }
}
body.page-template-project-information .resources {
  background: #EBF1FC;
  padding: 4rem 0;
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .resources {
    margin-top: 6rem;
  }
}
body.page-template-project-information .resources .copy {
  padding: 0 0 2rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-project-information .resources .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-project-information .resources .links .resource + .resource {
  padding-top: 0.5rem;
}
body.page-template-project-information .resources .links a {
  font-weight: bold;
}

body.page-template-nepa .info-section {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-nepa .info-section {
    padding: 6rem 0 3rem 0;
  }
  body.page-template-nepa .info-section.study-info {
    padding: 3rem 0;
  }
}
body.page-template-nepa .diagram-section {
  background: #EBF1FC;
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-nepa .diagram-section {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-nepa .diagram-section .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-nepa .diagram-section .info {
    grid-column: 2/span 4;
  }
}
body.page-template-nepa .diagram-section .graphic {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-nepa .diagram-section .graphic {
    padding-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-nepa .diagram-section .graphic {
    grid-column: 6/span 8;
  }
}

@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .overview {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .overview .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-aircraft-noise .overview .info {
    grid-column: 2/span 4;
  }
}
body.page-template-aircraft-noise .overview .graphic {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .overview .graphic {
    padding-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-aircraft-noise .overview .graphic {
    grid-column: 7/span 7;
  }
}
body.page-template-aircraft-noise .overview .graphic img {
  width: 100%;
}
body.page-template-aircraft-noise .noise-table .exposure {
  max-width: 240px;
}
body.page-template-aircraft-noise .noise-table .data-row > div:before {
  display: block;
  content: attr(data-label);
  color: #0076C0;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .noise-table .data-row > div:before {
    display: none;
  }
}
body.page-template-aircraft-noise .noise-table .data-row .exposure {
  font-size: 1.25rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .noise-table .data-row .exposure {
    font-size: 0.875rem;
    font-weight: normal;
  }
}
body.page-template-aircraft-noise .noise-table .data-row .exposure:before {
  padding-bottom: 0.25rem;
}
body.page-template-aircraft-noise .sound-level {
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .sound-level {
    padding: 6rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .sound-level .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-aircraft-noise .sound-level .info {
    grid-column: 2/span 4;
  }
}
body.page-template-aircraft-noise .sound-level .graphic {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-aircraft-noise .sound-level .graphic {
    padding-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-aircraft-noise .sound-level .graphic {
    grid-column: 7/span 7;
  }
}
body.page-template-aircraft-noise .sound-level .graphic img {
  width: 100%;
}
body.page-template-aircraft-noise .sound-level .graphic img + img {
  margin-top: 2rem;
}

body.page-template-ea-findings .language-switcher {
  padding-bottom: 2rem;
  padding-top: 0;
}
body.page-template-ea-findings .tab {
  display: none;
}
body.page-template-ea-findings .tab.active {
  display: block;
}
body.page-template-ea-findings .section-header h1 {
  padding-bottom: 0.5rem;
}
body.page-template-ea-findings .ea-findings-table {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-ea-findings .ea-findings-table {
    padding-bottom: 6rem;
  }
}
body.page-template-ea-findings .ea-findings-table .cat {
  max-width: 240px;
}
body.page-template-ea-findings .ea-findings-table .data-row > div:before {
  display: block;
  content: attr(data-label);
  color: #0076C0;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  body.page-template-ea-findings .ea-findings-table .data-row > div:before {
    display: none;
  }
}
body.page-template-ea-findings .ea-findings-table .data-row > div.cat:before {
  display: none;
}
@media screen and (min-width: 768px) {
  body.page-template-ea-findings .ea-findings-table .data-row {
    padding: 1.5rem 1rem;
  }
}
body.page-template-ea-findings .ea-findings-table .data-row .cat {
  color: #0076C0;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.25em;
}

body.page-template-noise-visualization .visualization .copy {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-noise-visualization .visualization .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-noise-visualization .visualization .embed {
  grid-column: 1/-1;
  margin-bottom: 6rem;
  aspect-ratio: 3/4;
}
@media screen and (min-width: 768px) {
  body.page-template-noise-visualization .visualization .embed {
    aspect-ratio: 4/3;
  }
}
body.page-template-noise-visualization .visualization .embed iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}

body.page-template-comments .site-content {
  min-height: 65vh;
}
@media screen and (min-width: 992px) {
  body.page-template-comments .info {
    grid-column: 2/span 8;
  }
}
body.page-template-comments .cta {
  grid-column: 2/span 4;
  padding: 3rem 0;
}
@media screen and (min-width: 480px) {
  body.page-template-comments .cta {
    grid-column: 4/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-comments .cta {
    grid-column: 11/span 3;
    padding: 0;
  }
}
body.page-template-comments .cta .circle {
  background: #0076C0;
  color: #fff;
  padding: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
body.page-template-comments .cta .circle a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
body.page-template-comments .cta .circle a span {
  width: 100%;
  display: flex;
  justify-content: center;
}
body.page-template-comments .cta .circle a span.icon {
  margin-top: auto;
  padding-bottom: 0.5rem;
}
body.page-template-comments .cta .circle a span.icon img {
  max-width: 80px;
}
body.page-template-comments .cta .circle a span.label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: auto;
  padding-top: 0.5rem;
}
@media screen and (min-width: 992px) {
  body.page-template-comments .cta .circle a span.label {
    font-size: 1.25rem;
  }
}

body.page-template-virtual-workshop .intro {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-virtual-workshop .intro .headline, body.page-template-virtual-workshop .intro .copy {
    grid-column: 2/span 8;
  }
}
body.page-template-virtual-workshop .dates .info {
  background: #EBF1FC;
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-virtual-workshop .dates .info {
    grid-column: 2/span 8;
  }
}
body.page-template-virtual-workshop .dates .section-header h4 {
  font-weight: bold;
}
body.page-template-virtual-workshop .dates .options .option:nth-last-child(n+2):nth-last-child(-n+2):first-child:last-of-type:before,
body.page-template-virtual-workshop .dates .options .option:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .option:last-of-type:before {
  content: "or";
  display: block;
  padding-bottom: 1rem;
}
body.page-template-virtual-workshop .dates .options .headline h3 {
  font-weight: bold;
}
body.page-template-virtual-workshop .join {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-virtual-workshop .join {
    grid-column: 2/span 8;
  }
}
body.page-template-virtual-workshop .join .copy a {
  font-weight: bold;
}
body.page-template-virtual-workshop .support {
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-virtual-workshop .support {
    grid-column: 2/span 8;
    padding-bottom: 6rem;
  }
}

body.page-template-historical-correspondence .site-content {
  min-height: 50vh;
}
@media screen and (min-width: 768px) {
  body.page-template-historical-correspondence section.main .intro {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-historical-correspondence section.main .intro {
    grid-column: 2/span 8;
  }
}
body.page-template-historical-correspondence section.main .documents {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-historical-correspondence section.main .documents {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-historical-correspondence section.main .documents {
    margin-top: 3rem;
    grid-column: 2/span 12;
  }
}
body.page-template-historical-correspondence aside.documents {
  border: 2px solid #b39034;
  padding: 2rem;
  margin-bottom: 4rem;
}
body.page-template-historical-correspondence aside.documents .headline h3 {
  font-weight: bold;
}
body.page-template-historical-correspondence aside.documents .intro {
  max-width: 760px;
}
body.page-template-historical-correspondence aside.documents .list {
  padding-top: 2rem;
}
body.page-template-historical-correspondence aside.documents .header h4 {
  font-weight: bold;
  color: #b39034;
  padding-bottom: 0;
  font-size: clamp(1rem, 1.4vw, 1.25rem);
}
body.page-template-historical-correspondence aside.documents .sub-header {
  padding-top: 0.5rem;
}
body.page-template-historical-correspondence aside.documents .sub-header h5 {
  font-style: italic;
  font-weight: bold;
  font-size: clamp(0.875rem, 1vw, 1rem);
}
body.page-template-historical-correspondence aside.documents .items {
  list-style-type: disc;
  padding-left: 1.125rem;
  padding-top: 0.25rem;
}
@media screen and (min-width: 992px) {
  body.page-template-historical-correspondence aside.documents .items {
    -moz-columns: 3;
         columns: 3;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
body.page-template-historical-correspondence aside.documents .items + .header {
  padding-top: 3rem;
}
body.page-template-historical-correspondence aside.documents .items + .sub-header {
  padding-top: 2rem;
}
body.page-template-historical-correspondence aside.documents .items li {
  font-size: clamp(0.75rem, 1vw, 0.8125rem);
  padding-top: 0;
  padding-bottom: 1rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
body.page-template-historical-correspondence aside.documents .items li::marker {
  color: #0A2245;
}
@media screen and (min-width: 992px) {
  body.page-template-historical-correspondence aside.documents .items li {
    padding-right: 2rem;
  }
}