.anchor-links {
    padding-bottom: 3rem;

    .links {
        padding: 1.5rem;
        background: $light-blue;

        @include tablet {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1.5rem 1.5rem 0.5rem 1.5rem; 
        }

        a {
            display: block;

            @include tablet {
                margin-bottom: 1rem;
            }

            & + a {
                margin-top: 1rem;

                @include tablet {
                    margin-top: 0;
                    margin-left: 2rem;                    
                }
            }
        }
    }
}