.documents {
    background: $light-blue;
    padding: 4rem 0;
    margin-bottom: 4rem;

    &.final-documents {
        background: #eaeaea;
        margin-bottom: 0;
    }

    @include desktop-small {
        margin-bottom: 6rem;
    }

    .copy {
        padding: 0 0 2rem 0;
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .links {
        .document {
            & + .document {
                padding-top: 0.5rem;
            }
        }

        .spacer {
            height: 2rem;
            width: 100%;
        }

        a {
            font-weight: bold;
        }
    }

    .doc {
        display: flex;
        align-items: center;
        &:before {
            content: '';
            display: block;
            background: url(images/icon-download-blue.svg) no-repeat 0 0;
            background-size: 100%;
            width: 1rem;
            height: 1rem;
            margin-right: 0.75rem;
        }
    }
}
