.feature {
    & + .feature {
        .sub-grid {
            padding-top: 2rem;
            border-top: 1px solid #aaa;
            margin-top: 2rem;

            @include desktop-small {
                margin-top: 4rem;
                padding-top: 4rem;
            }
        }
    }

    .info {
        padding-top: 1rem;

        @include tablet {
            padding-top: 0;
            grid-row: 1;
            grid-column: 1 / span 4;
        }

        @include desktop-small {
            grid-column: 1 / span 5;
        }
    }

    .photo {
        aspect-ratio: 4 / 3;
        @include cover-fill-image;

        @include tablet {
            grid-column: 5 / span 4;
        }

        @include desktop-small {
            grid-column: 7 / span 6;
        }
    }
}
