.project-background {
    padding-bottom: 4rem;

    .copy {
        padding-top: 2rem;
    }

    .video {
        aspect-ratio: 16 / 9;
        @include cover-fill-image;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .video,
    .tab {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .tab {
        display: none;

        &.active {
            display: block;
        }
    }
}
