.resources {
    background: $light-blue;
    padding: 4rem 0;
    margin-top: 4rem;

    @include desktop-small {
        margin-top: 6rem;
    }

    .copy {
        padding: 0 0 2rem 0;
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .links {
        .resource {
            & + .resource {
                padding-top: 0.5rem;
            }
        }
        a {
            font-weight: bold;
        }
    }
}