.site-footer {
    background: $dark-blue;

    .logo {
        a {
            display: block;
            max-width: 120px;
        }
    }

    .site-info {
    }

    .download-report {
        a {
            background: $gold;
            color: $white;
            max-width: 400px;

            .cta {
                color: $white;
                padding-bottom: 0;
                line-height: 1.25em;
            }

            .details {
                padding-top: 0.25rem;
                color: $white;
                font-weight: bold;
                font-size: 0.675rem;
            }

            & + a {
                margin-top: 1rem;
            }
        }
    }

    .footer-nav {
        h5 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.1em;
        }
        .links {
            column-gap: 2rem;

            .link {
                a {
                    font-size: 0.875rem;
                    line-height: 1.5em;
                }
            }
        }
    }

    .copyright {
        margin-top: 6rem;
        padding-top: 1rem;
    }

    .credits {
        justify-content: flex-start;

        @include tablet {
            justify-content: flex-end;
        }
    }
}
