body,
button,
input,
select,
optgroup,
textarea {
	font-family: $raleway;
}

a {
	color: $blue;
	
}

.site-content {
	.hero {
		.headline {
			h1, h2, h3, h4, h5, h6 {
				color: $white;
			}	
		}
	}

	a:hover {
		text-decoration: underline;
	}
}

.headline {
	padding-bottom: 1rem;

	h1 {
		font-size: 1.75rem;
		line-height: 1.25em;
		font-weight: bold;

		@include desktop-small {
			font-size: 2.25rem;
		}
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.25em;
		font-weight: bold;

		@include desktop-small {
			font-size: 1.75rem;
		}
	}

	h3 {
		font-size: 1.25rem;
		line-height: 1.25em;

		@include desktop-small {
			font-size: 1.5rem;
		}
	}
}


.p1 {
	font-size: 1rem;
	line-height: 1.5em;

	@include tablet {
		font-size: 1.125rem;
	}
}

.p2 {
	font-size: 0.875rem;
	line-height: 1.5em;

	@include tablet {
		font-size: 1rem;
	}
}

.p3 {
	font-size: 0.8125rem;
	line-height: 1.5em;

	@include tablet {
		font-size: 0.875rem;
	}
}