.noise-table {
    .exposure {
        max-width: 240px;
    }

    .data-row {
        & > div {
            &:before {
                display: block;
                content: attr(data-label);
                color: $blue;
                padding-top: 1rem;
                font-weight: bold;
                font-size: 0.875rem;

                @include tablet {
                    display: none;
                }
            }
        }
        .exposure {
            font-size: 1.25rem;
            font-weight: bold;
    
            @include tablet {
                font-size: 0.875rem;
                font-weight: normal;
            }
    
            &:before {
                padding-bottom: 0.25rem;
    
            }
        }

    }
}