.overview {

    @include tablet {
        padding-bottom: 3rem;
    }

    .info {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 4;
        }
    }

    .graphic {
        padding-top: 2rem;

        @include tablet {
            padding-top: 0;
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 7 / span 7;
        }

        img {
            width: 100%;
        }
    }    
}