.language-switcher {
    padding-bottom: 2rem;
    padding-top: 0;
}

.tab {
    display: none;
    
    &.active {
        display: block;
    }
}

.section-header {
    h1 {
        padding-bottom: 0.5rem;
    }
}