.ea-findings-table {
    padding-bottom: 3rem;

    @include tablet {
        padding-bottom: 6rem;
    }

    .cat {
        max-width: 240px;
    }

    .data-row {
        & > div {
            &:before {
                display: block;
                content: attr(data-label);
                color: $blue;
                padding-top: 1rem;
                font-weight: bold;
                font-size: 0.875rem;

                @include tablet {
                    display: none;
                }
            }

            &.cat {
                &:before {
                    display: none;
                }                
            }
        }

        

        @include tablet {
            padding: 1.5rem 1rem;
        }

        .cat {
            color: $blue;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.25em;
        }
    }
    


}