aside.documents {
    border: 2px solid $gold;
    padding: 2rem;
    margin-bottom: 4rem;

    .headline {
        h3 {
            font-weight: bold;
        }
    }

    .intro {
        max-width: 760px;
    }

    .list {
        padding-top: 2rem;
    }


    .header {
        h4 {
            font-weight: bold;
            color: $gold;
            padding-bottom: 0;
            font-size: clamp(1rem, 1.4vw, 1.25rem);
        }
    }

    .sub-header {
        padding-top: 0.5rem;

        h5 {
            font-style: italic;
            font-weight: bold;
            font-size: clamp(0.875rem, 1vw, 1rem);

        }

    }

    .items {
        list-style-type: disc;
        padding-left: 1.125rem;
        padding-top: 0.25rem;

        @include desktop-small {
            columns: 3;
            column-gap: 3rem;
        }

        & + .header {
            padding-top: 3rem;
        }

        & + .sub-header {
            padding-top: 2rem;
        }

        li {
            font-size: clamp(0.75rem, 1vw, 0.8125rem);
            padding-top: 0;
            padding-bottom: 1rem;
            break-inside: avoid;

            &::marker {
                color: $dark-blue;
            }

            @include desktop-small {
                padding-right: 2rem;
            }
        }
    }
}