body.page-template-historical-correspondence {

    .site-content {
        min-height: 50vh;
    }

    section.main {
        .intro {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 2 / span 8;
            }
        }
    
        .documents {
            margin-top: 2rem;

            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                margin-top: 3rem;
                grid-column: 2 / span 12;
            }
        }
    }

    @import '../template-parts/historical-correspondence/intro';

    @import '../template-parts/historical-correspondence/documents';

}