body.page-template-nepa {

    .info-section {
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0 3rem 0;

            &.study-info {
                padding: 3rem 0;
            }
        }        
    }

    .diagram-section {
        background: $light-blue;
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }

        .info {
            @include tablet {
                grid-column: 2 / span 4;
            }

            @include desktop-small {
                grid-column: 2 / span 4;
            }
        }

        .graphic {
            padding-top: 2rem;

            @include tablet {
                padding-top: 0;
                grid-column: 6 / span 4;
            }

            @include desktop-small {
                grid-column: 6 / span 8;
            }
        }
    }
}