body.page-template-noise-visualization {
    .visualization {
        .copy {
            padding-bottom: 3rem;

            @include desktop-small {
                grid-column: 2 / span 8;
            }
        }

        .embed {
            grid-column: 1 / -1;
            margin-bottom: 6rem;
            aspect-ratio: 3 / 4;

            @include tablet {
                aspect-ratio: 4 / 3;
            }

            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: none;
            }
        }
    }
}
