.table {
    .p2 > * + * {
        padding-top: 0;
    }

    .row {
        padding: 2rem 0;
        border-bottom: 1px solid #aaa;

        @include tablet {
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem;

            @for $i from 1 through 6 {
                div:first-child:nth-last-child(#{$i}),
                div:first-child:nth-last-child(#{$i}) ~ div {
                    width: calc(100% / $i);
                    flex: 1;
                    padding-right: 2rem;
                }
            }
        }
    }

    .header-row {
        background: $dark-blue;
        color: $white;
        font-weight: bold;
        border-bottom: 0;
        padding: 1rem;
        display: none;

        @include tablet {
            display: flex;
        }
    }
}
