.language-switcher {
    padding-top: 2rem;
    display: flex;
    align-items: flex-end;

    a {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem 0.375rem 0.75rem;
        border: 1px solid $blue;
        border-radius: 3px;

        & + a {
            margin-left: 1rem;
        }

        &:hover {
            text-decoration: none;
            background: $light-blue;
        }

        &.active {
            background: $light-blue;
        }

        span {
            text-transform: uppercase;
            font-size: 0.8125rem;
            letter-spacing: 0.05em;
            font-weight: bold;
        }
    }
}