.features {
    padding: 3rem 0;
    background: $light-blue;

    @include desktop-small {
        padding: 6rem 0;

        &-flex {
            display: flex;
            justify-content: space-between;
        }
    }

    .feature {
        background: $blue;
        padding: 2rem;

        @include desktop-small {
            padding: 4rem;
        }

        & + .feature {
            margin-top: 2rem;

            @include desktop-small {
                margin-top: 0;
            }
        }

        @include desktop-small {
            width: calc(33.3333% - 1rem);
        }
        
        * {
            color: $white;
        }

        .icon {
            display: flex;
            justify-content: center;
            padding-bottom: 2rem;

            img {
                max-width: 120px;
                max-height: 80px;
            }
        }

        .headline {
            text-align: center;
            padding-bottom: 1rem;

            h3 {
                font-weight: bold;
            }
        }

        .cta {
            padding-top: 2rem;
        }

    }
}