.full-report {
    padding: 3rem 0;
    background: #fafafa;

    @include desktop-small {
        padding: 6rem 0;
    }

    .download-report {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }

        a {
            background: $gold;
            color: $white;
            width: 100%;
            max-width: 420px;

            & + a {
                margin-top: 1rem;

                @include desktop-small {
                    margin-top: 0;
                    margin-left: 2rem;
                }
            }

            .cta {
                color: $white;
                padding-bottom: 0;
                line-height: 1.25em;
            }

            .details {
                padding-top: 0.25rem;
                color: $white;
                font-weight: bold;
                font-size: 0.675rem;
            }
        }
    }
}
