.intro {
    background: $dark-blue;
    color: $white;
    padding: 3rem 0;

    @include desktop-small {
        padding: 4rem 0;
    }

    * {
        color: $white;
    }

    .headline {
        @include desktop-small {
            grid-column: 2 / span 10;
            padding-bottom: 2rem;
        }
    }

    .video {
        @include desktop-small {
            grid-row: 2;
            grid-column: 2 / span 9;
        }

        img {
            border: 2px solid $white;
        }
    }

    .info {
        padding-bottom: 2rem;

        @include desktop-small {
            padding-bottom: 0;
            grid-row: 2;
            grid-column: 11 / span 3;
        }
    }
}