section.status-update {
    padding-bottom: 3rem;

    @include desktop-small{
        padding-bottom: 4rem;
    }
    
    .update-wrapper {
        border: 4px solid $gold;
        padding: 2rem;

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .entry {
            & + .entry {
                margin-top: 2rem;
                border-top: 2px solid $gold;
                padding-top: 2rem;
            }
        }

        .headline {
            h4 {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: $blue;
            }
        }
    }
}