.dates {

    .info {
        background: $light-blue;
        padding: 2rem;
        
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .section-header {
        h4 {
            font-weight: bold;
        }
    }

    .options {

        .option:nth-last-child(n+2):nth-last-child(-n+2):first-child,
        .option:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ .option {

            &:last-of-type {
                &:before {
                    content: "or";
                    display: block;
                    padding-bottom: 1rem;
                }
            }
        }

        .headline {
            h3 {
                font-weight: bold;
            }
        }
    }

}